.cur{
    cursor:pointer ;
}
.grove{
    width: 100%;
    height: 90px;
    background-color: rgb(30, 40, 245);display: flex;
}
.first{
    width: 3.5%;position: relative;top: 20%;left: 2%;
    height: 50px;box-shadow: 10px 10px 20px 1px rgb(34, 142, 237);
    
}
.title{
    width: 10%;
    height: 50px;
    text-decoration-color: aliceblue;position: relative;left:2%;top: 20px;
}
.item{
    width: 100%;
    height: 50px;
    display: inline-flex;background-color: lawngreen;
}
.return{
    width: 14%;
    height: 100%;align-items: center;position: relative;left: 10px;

}
/* .learn{ 
    width: 18%;
    height: 60px;
    position: relative;left: 4%;top: 20%;
    box-shadow: 10px 10px 20px 1px rgb(102, 34, 237);
/* } */
.set{
    width: 10%;
    height: 40px;position: relative;top:20%;left: 70%;
}

    

.set2{
    width: 10%;
    height: 40px;position: relative;top:20%;left: 55%;
    border-radius: 10px;
}





.productimg{
    width: 100%;
    background-color: blueviolet;
    box-shadow: 10px 10px 20px 1px rgb(34, 142, 237);
}
.proname{
    width: 100%;
    background-color: rgb(43, 226, 104);
    box-shadow: 10px 10px 20px 1px rgb(34, 142, 237);
}
.car{
    width: 100%;
    height: 400px;
    background-color: rgb(0, 255, 115);
}
.models{
    width: 100%;
    height: 50px;
    
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.line{
    width: 30%;
}
.tata{
    width: 33%;
    height: 100px;border: 2px solid rgb(249, 223, 223);
    display: inline-flex;position: relative;top: 5px;left: 10px;

}
.life{
    width: 100%;
    height: 50px;
    
    position: relative;top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.last{
    width: 30%;
    
    
}
.motor{
    width: 50%;
    height: 300px;
    
    display: inline-flex;

}
.kia{
    width: 96%;
    height: 96%;
    position: relative;left:2%;top: 2%;
}
.cars{
    width: 100%;
    height: 50px;
    
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.line3{
    width: 30%;
}

.child2{
    width: 96%;
    height: 660px;
    background-color: rgb(30, 30, 238);
    
    position: relative;
}
.tata2{
    width: 32%;
    height: 300px;
    
    display: inline-flex;position: relative;top: 7px; margin-left: 12px;
    
}
.benz{
    cursor:pointer ;
}
.visit{
    text-align: center;color: aliceblue;
    height: 200px;background-color: rgb(72, 0, 255);
}
.thar{
    text-align: center;color: crimson;
}
.get{
    width: 100%;
    height: 300px;
    background-color:rgb(244, 248, 248)
}
.bmw{
    width: 96%;
    height: 660px;
    
    
    position: relative;
}
.take{
    width: 30%;
    height: 300px;
    
    display: inline-flex;position: relative;margin-left:12px;
    
}
.rr{
    width: 100%;
    height: 200px;
    background-color:rgb(251, 251, 251)
}
.must{
    width: 30%;
    height: 200px;
    display: inline-flex;position: relative;margin-left:20px;top: 0px;
}
.data1{
    width: 96%;
    height: 660px;
    
    
    position: relative;
}
.data{
    width: 30%;
    height: 300px;
    
    display: inline-flex;position: relative;margin: left 14px;
    
}

